<div id="<%= dom_id budget %>">
    <p>
    <strong>Category:</strong>
    <%= budget.category %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= budget.amount %>
  </p>

  <p>
    <strong>Time period:</strong>
    <%= budget.time_period %>
  </p>

</div>
