.custom-fsize-14 {
    font-size: 14px;
}

a.nav-link.active.username {
    font-weight: 800;
    color: cornflowerblue;
}

a.nav-link.active.income {
    color: limegreen;
    font-weight: 800;
}

a.nav-link.active.no-income {
    color: orangered;
    font-weight: 800;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  .progress {
    height: 20px;
    border-radius: 10px;
  }