<% if current_user.should_lower_spending %>
  <div class="position-fixed end-0 p-3 custom-alert">
    <div class="alert alert-danger fade show" role="alert">
      Please lower your expenses. You've spent more than 60% of income
    </div>
  </div>
<% end %>

<h1>Expenses</h1>

<div id="expenses">
  <% @expenses.each do |expense| %>
    <%= render expense %>
    <p>
      <%= link_to "Show this expense", expense %>
    </p>
  <% end %>
</div>

<%= link_to "New expense", new_expense_path %>