
<div class=" container page-container">
    <h1 class="mb-4 text-center">New Expense</h1>
    <%= render "form", expense: @expense %>
    <div class="mt-4">
      <%= link_to "Back to Expenses", expenses_path, class: "btn btn-secondary", "style": "margin: 20px" %>
    </div>
  </div>